# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.

DATABASE_URL="mysql://USERNAME:PASSWORD@localhost:3306/DB_NAME"
PORT=3000

